<html>
<body>
<div>
    <form method="post">
        <div>
            <input type="number" name="salary" min="0" required placeholder="Average salary" />
            <input type="number" name="days" min="1" required placeholder="Number of days" />
            <input type="date" name="startdate" min="2023-01-01" max="2023-12-31" required />
        </div>
        <button type="submit">Calculate</button>
    </form>
</div>
</body>
</html>